<div class="container">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid" id="navfluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			
				<a ui-sref="home" class="navbar-brand">Media Analysis</a>
			</div>
			<div class="collapse navbar-collapse" id="navigationbar">	
				<ul class="nav navbar-nav">
					<li><a ui-sref="webtrends">Web Trends</a></li>
					<li><a ui-sref="tvtrends">TV Trends</a></li>
					<li><a ui-sref="wordclouds">Word Clouds</a></li>
				</ul>
				
			</div>
		</div>
	</nav>
</div>